.banner {
    align-items: center;
    display: flex;
    background-image: url('imagens/banner.jpg');
    background-size: cover;
    color: #000000;
    padding: 100px;
    text-align: center;
}
.direita button {
    border: #ff9900;
    background-color: #ff9900;
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: large;
}
.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.h1, h2, h3 {
    color: #333;
}
.mockup{

    width: 50vw;
}
.direita{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
}
.direita h2{
 font-size:xx-large;
}
.direita p{
    font-size: medium;
}
